<!-- Default form register -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Saksham</title>
  <%- include('link.ejs') %>
  
</head>
<body >
    <div class="container">
<!-- Phone number -->
<form action="/customer/reg" method="POST" >
    
    <p class="h4 mb-4 text-center">Booking</p>
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Event Location" >
        </div>
    </div>
    

    <!-- E-mail -->

<!-- Sign up button -->
<button class="btn btn-info my-4 btn-block" type="submit">Booking</button>

<!-- Social register -->


</form>
</div>
<%- include('scripts.ejs') %>



</body>
</html>
<!-- Default form register -->