<!DOCTYPE html>
<html lang="en">
<head>
  <title>Saksham</title>
  <%- include('link.ejs') %>
  <style>
    body{
      height: 100vh;
      width: 100%;
      overflow: hidden;
    }
    img{
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
       transform: translateY(-50%);
    }
    </style>
</head>
<body >
<img src="images/logo.png" style="width: 100%; height: auto; " alt="logo" />


  <%- include('scripts.ejs') %>
</body>
</html>
